<form action="/students/1/edit" method="post" accept-charset="utf-8"><br>
  <input type="text" name="student[name]"><br>
  <input type="text" name="student[tagline]"><br>
  <input type="text" name="student[image_url]"><br>
  <input type="text" name="student[bio]"><br>
  <input type="text" name="student[email]"><br>
  <input type="text" name="student[blog]"><br>
  <input type="text" name="student[linkedin]"><br>
  <input type="text" name="student[twitter]"><br>
  <input type="text" name="student[fav_apps_one]"><br>
  <input type="text" name="student[fav_apps_two]"><br>
  <input type="text" name="student[fav_apps_three]"><br>
  <input type="text" name="student[codeschool]"><br>
  <input type="text" name="student[github]"><br>
  <input type="text" name="student[coderwall]"><br>
  <input type="text" name="student[stack]"><br>
  <input type="text" name="student[treehouse]"><br>
  <input name="commit" type="submit" value="Update"><br>
</form>